.App{
padding: 2rem;
}

.product{
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin: 1rem .4rem;
  

}


.product .image{
  height: 250px;
  border-radius: 20px;
}
.product img{
  border-radius: 20px;
}

.product p{
  margin-top: 1rem;
  margin-left: 1rem;
  font: normal 600 20px/10px var(--primary-font);
  color: var(--primary-color);
}

.product span{
  font: normal 600 16px var(--primary-font);
  margin-left: 1rem;

}


.product  button{
  float: right;
  border: 1px solid var(--primary-color);
background: var(--primary-color);
color: black;
font: normal 600 16px var(--primary-font);
height: 40px;
border-radius: 10px;
cursor: pointer;
}


 ul{
  list-style: none;
 
}

 ul li{
  display: inline-block !important;
  font: normal 500 16px var(--primary-font);
  margin-right: 1rem;
  padding: .4rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

ul .active{
  font-weight: bold;
  background: var(--primary-color);
}

.card{
  float: right;
  background: black;
  color: white;
  padding: .4rem 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font: normal 600 16px var(--primary-font);
  text-transform: capitalize;

}